* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  overflow: auto;
}
body .search {
  margin-top: 20px;
}
body .current-weather-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  gap: 30px;
}
body .current-weather-container .weather-main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .current-weather-container .weather-main-info .main-time {
  margin-bottom: 15px;
  margin-top: 3px;
  font-style: italic;
}
body .current-weather-container .weather-main-info .main-temp {
  font-size: 35px;
}
body .current-weather-container .weather-main-info .main-desc {
  font-size: 15px;
}
body .current-weather-container .weather-main-info .high-low {
  margin-top: 14px;
  display: flex;
  gap: 12px;
}
body .current-weather-container .weather-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 20px;
}
body .current-weather-container .weather-container .weather-item {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 0 30px 30px 0;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
body .current-weather-container .weather-container .weather-item .header {
  display: flex;
  width: 120px;
  gap: 5px;
  margin-top: 5px;
  align-items: center;
  margin-left: 7px;
  font-size: 14px;
}
body .current-weather-container .weather-container .weather-item .header span {
  font-style: italic;
}
body .current-weather-container .weather-container .weather-item .content, body .current-weather-container .weather-container .weather-item .sub-content {
  margin-left: 7px;
  width: 100%;
}
body .current-weather-container .weather-container .weather-item .content {
  margin-top: 15px;
  font-size: 25px;
}
body .current-weather-container .weather-container .weather-item .sub-content {
  margin-top: 25px;
  font-size: 12px;
  font-style: italic;
}
body .future-weather-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
body .future-weather-container .time-selector {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .future-weather-container .time-selector .carousel {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
body .future-weather-container .time-selector .carousel a {
  cursor: pointer;
}
body .future-weather-container .time-selector .carousel .dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .future-weather-container .time-selector .carousel .dots .dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
body .future-weather-container .time-selector .carousel .dots .dot.active {
  background-color: #717171;
}
body .future-weather-container .time-selector .toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}
body .future-weather-container .time-selector .toggle .labels {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #4d4d4d;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
}
body .future-weather-container .time-selector .toggle .labels::after {
  content: attr(hourly-off);
  position: absolute;
  opacity: 1;
  right: 5px;
  transition: all 0.4s ease-in-out;
}
body .future-weather-container .time-selector .toggle .labels::before {
  content: attr(hourly-on);
  position: absolute;
  opacity: 0;
  left: 5px;
  transition: all 0.4s ease-in-out;
}
body .future-weather-container .time-selector .toggle input:checked ~ .labels::after {
  opacity: 0;
}
body .future-weather-container .time-selector .toggle input:checked ~ .labels::before {
  opacity: 1;
}
body .future-weather-container .time-selector .toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}
body .future-weather-container .time-selector .toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}
body .future-weather-container .time-selector .toggle input:checked + .slider {
  border-color: #2196F3;
}
body .future-weather-container .time-selector .toggle input:checked + .slider::before {
  border-color: #2196F3;
  background-color: #c6e5ff;
  transform: translateX(calc(var(--width) - var(--height)));
}
body .future-weather-container .time-selector .toggle input {
  display: none;
}
body .future-weather-container .time-item-container.daily, body .future-weather-container .time-item-container.hourly.active {
  width: 85vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .future-weather-container .time-item-container.daily .time-item, body .future-weather-container .time-item-container.hourly.active .time-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
body .future-weather-container .time-item-container.daily .time-item .time, body .future-weather-container .time-item-container.hourly.active .time-item .time {
  margin-left: 10px;
  font-size: 20px;
}
body .future-weather-container .time-item-container.daily .time-item .time-weather-content, body .future-weather-container .time-item-container.hourly.active .time-item .time-weather-content {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
body .future-weather-container .time-item-container.daily .time-item .time-weather-content .temp-content, body .future-weather-container .time-item-container.hourly.active .time-item .time-weather-content .temp-content {
  display: flex;
  flex-direction: column;
}
body .future-weather-container .time-item-container.daily .time-item .time-weather-content .temp-content .high-temp, body .future-weather-container .time-item-container.hourly.active .time-item .time-weather-content .temp-content .high-temp {
  font-size: 25px;
  font-weight: 700;
}
body .future-weather-container .time-item-container.daily .time-item .time-weather-content .temp-content .low-temp, body .future-weather-container .time-item-container.hourly.active .time-item .time-weather-content .temp-content .low-temp {
  font-size: 12px;
}
body .future-weather-container .time-item-container.hourly {
  display: none;
}

@media (min-width: 600px) {
  body .current-weather-container .weather-container {
    grid-template-columns: repeat(4, 1fr);
  }
  body .current-weather-container .weather-container .weather-item {
    width: 240px;
  }
  body .future-weather-container {
    width: 85vw;
  }
  body .future-weather-container .time-item-container.daily, body .future-weather-container .time-item-container.hourly.active {
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
  }
  body .future-weather-container .time-item-container.daily .time-item, body .future-weather-container .time-item-container.hourly.active .time-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .future-weather-container .time-item-container.daily .time-item .time, body .future-weather-container .time-item-container.hourly.active .time-item .time {
    margin-left: 0;
  }
  body .future-weather-container .time-item-container.daily .time-item .time-weather-content, body .future-weather-container .time-item-container.hourly.active .time-item .time-weather-content {
    margin-left: 0;
    flex-direction: column;
  }
  body .future-weather-container .time-item-container.hourly {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
